body {
  margin: 0;
}
.container {
  /*border: 1px solid black;*/
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: tan;
}
.tv {
  border: 20px solid black;
  border-radius: 20px;
  width: 800px;
  height: 500px;
  margin-top: 50px;
  align-self: center;
  background-color: #1C2541;
}
.menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}
/*VVVVVVVVVVVVVVVVVV ABOUT SECTION VVVVVVVVVVVVVVVVVVVV*/
.about {
  transition: 0.3s;
  /*CHANGE TO ZERO TO WORK, CHANGE TO 800PX FOR TESTING*/
  width: 0px;
  /*^^^^^^^^^^^^^^^^^^^^*/
  height: 500px;
  position: absolute;
  top: 70.2px;
  background-color: #1A5B75;
  display: flex;
}
.about.aboutClicked{
  transition: 0.3s;
  width:800px;
}
.info {
  width: 100%;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(9 , 1fr);
  grid-template-rows: repeat(8, 1fr);
}
.panel:nth-child(1) {
  grid-row: 1 / 5;
  grid-column: 1 / 5;
}
.panel:nth-child(2) {
  grid-column: 5 / 10;
  grid-row: 1 / 8;
}
.panel:nth-child(3) {
  grid-row: 8 / 9;
  grid-column: 8 / 10;
  transform: translate(74px, 27px);
}
/*this is needed for testing*/
.hiddenAbout {
  display: none;
}
.info p {
  font-size: 25px;
  font-family: sans-serif;
  color: #82D4BB;
}
.panel img {
  width: 80%;
  transform: translate(10px, 10px);
  border-radius: 50%;
  border: 5px solid black;
}
/*^^^^^^^^^^^^^^^^^^^^^^^^^ABOUT SECTION^^^^^^^^^^^^^^^^^^^^^^^^^*/

/*VVVVVVVVVVVVVVVVVVV SKILLS SECTION VVVVVVVVVVVVVVVVVVVVVVVV*/
.skills {
  transition: 0.3s;
  /*CHANGE TO ZERO TO WORK, CHANGE TO 800PX FOR TESTING*/
  width: 0px;
  /*^^^^^^^^^^^^^^^^^^^^*/
  height: 500px;
  position: absolute;
  top: 70.2px;
  background-color: #1A5B75;
  display: flex;
  text-align: center;
}
.skills.skillsClicked{
  transition: 0.3s;
  width:800px;
}
.skills {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(3, 1fr);
}
.hiddenSkills{
  display: none;
}
.skillPanel {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  /*border: 3px solid yellow;*/
}
.skillFlex {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 50px;
  /*border: 3px solid yellow;*/
}
.circleStyle {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  background-color: #022B3A;
  border: 5px solid black;
}
.circleStyle h1 {
  padding-top: 80px;
  margin: 0;
  font-family: monospace;
  font-size: 40px;
  color: #5BC0BE;
}
#bigE {
  padding-top: 40px;
  font-size: 100px;
}
#skillsBack {
  align-self: flex-end;
  transform: translate(1px, -16px);
}
.description {
  color: #82D4BB;
  padding: 15px;
}
.skillGrid{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

/*^^^^^^^^^^^^^^^^^^^^^^^SKILLS SECTION ^^^^^^^^^^^^^^^^^^^^^^^^*/
/*VVVVVVVVVVVVVVVVVPROJECTS SECTIONVVVVVVVVVVVVVVVVVVVVVVVV*/
.projects {
  transition: 0.3s;
  /*CHANGE TO ZERO TO WORK, CHANGE TO 800PX FOR TESTING*/
  width: 0px;
  /*^^^^^^^^^^^^^^^^^^^^*/
  height: 500px;
  position: absolute;
  top: 70.2px;
  background-color: #1A5B75;
  display: flex;
}
.projects.projectsClicked{
  transition: 0.3s;
  width:800px;
}
.projects {
  display: grid;
  grid-template-rows: repeat(5, 1fr);
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 20px;
}
.projectPanel {
  transform: translateY(40px);
  background-color: rgb(221, 234, 255, 0.2);
  display: flex;
  flex-direction: column;
  padding-left: 6px;
  font-family: monospace;
  font-size: 13px;
  padding-top: 8px;
  color: #82D4BB;
  border: 3px solid black;
}
.projectPanel h1{
  margin: 0;
  text-decoration: underline;
  text-shadow: 2px 2px black;
}
.projectPanel p{
  padding-right: 15px;
  text-shadow: 1px 1px blue;
}
.projectPanel:hover{
  animation-name: grow;
  animation-duration: .5s;
  animation-fill-mode: forwards;
  cursor: pointer;
}
@keyframes grow {
  from {border: 3px solid black; margin: 0;}
  to {border: 3px ridge lightgreen; margin: -20px;}
}
.hiddenProjects{
  display: none;
}
.projectPanel:nth-child(1){
  grid-column:  2 / 4;
  grid-row: 1 / 3;
}
.projectPanel:nth-child(2){
  grid-column: 4 / 6;
  grid-row: 1 / 3;
}
.projectPanel:nth-child(3){
  grid-column:  2 / 4;
  grid-row: 3 / 5;
}
.projectPanel:nth-child(4){
  grid-column: 4 / 6;
  grid-row: 3 / 5;
}
#projectsBack{
  grid-column: 6 / 7;
  grid-row: 5 / 6;
  transform: translate(2px, 34px);
}
/*^^^^^^^^^^^^^PROJECTS SECTION^^^^^^^^^^^^^^^^^^*/
/*VVVVVVVVVVVCONTACT ME SECTIONVVVVVVVVVVVVVVVV*/
.contact {
  transition: 0.3s;
  /*CHANGE TO ZERO TO WORK, CHANGE TO 800PX FOR TESTING*/
  width: 0px;
  /*^^^^^^^^^^^^^^^^^^^^*/
  height: 500px;
  position: absolute;
  top: 70.2px;
  background-color: #1A5B75;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.contact.contactClicked{
  transition: 0.3s;
  width:800px;
}
.hiddenContact{
  display: none;
}
.contactInfo{
  font-size: 50px;
  font-family: monospace;
  font-style: italic;
  padding-left: 10%;
}
.links:hover{
  text-shadow: 2px 5px black;
}
.links{
  margin: 50px;
  width: 240px;
  /*border: 1px solid yellow;*/
}
.links a{
  color: #82D4BB;
  text-decoration: none;
}
.contactBack{
  align-self: flex-end;
  transform: translate(0px, -32px);
}
/*^^^^^^^^^CONTACT ME SECTION^^^^^^^^^^^^^^^^^^*/
/*VVVVVVVVVV--INTRO SECTION--VVVVVVVVVVVVVVVVVV*/
.intro {
  width: 800px;
  height: 500px;
  position: absolute;
  top: 70.2px;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  animation-name: introFade;
  animation-fill-mode: forwards;
  animation-duration: 4s;
}
.intro h1 {
  margin: 25px;
  align-self: center;
  font-size: 75px;
  /*color: rgba(255, 255, 255, 0.8);*/
}
@keyframes introFade{
  from {background-color: black; color: black;}
  to {background-color: #1e1e1e; color: rgba(255, 255, 255, 0.8);}
}
/*^^^^^^^^^^^^INTRO SECTION^^^^^^^^^^^^^^^^^^*/
.backStyle {
  font-size: 35px;
  font-style: italic;
  font-family: monospace;
  border-style: none;
  background-color: red;
  color: #ffffff;
  -webkit-clip-path: polygon(25% 0%, 100% 0, 100% 100%, 0 100% );
  width: 115px;
  height: 50px;
  text-align: right;
}
.backStyle:hover{
  cursor: pointer;
  background-color: pink;
}
  /*VVVVVVVVVVVVVV MENU BUTTONS VVVVVVVVVVVVVV*/
.buttonStyle:hover {
  transition: 1s;
  width: 350px;
  cursor: pointer;
}
.buttonStyle {
  transition: 1s;
  margin: 25px;
  text-align: left;
  font-family: monospace;
  font-size: 35px;
  width: 310px;
  -webkit-clip-path: polygon(0 0%, 70% 0, 80% 100%, 0 100%);
  background-color: #1A5B75;
  color: #5BC0BE;
  border-style: none;
}
.buttonStyle:nth-child(1){
  margin-left: 100px;
}
.buttonStyle:nth-child(2){
  margin-left: 160px;
}
.buttonStyle:nth-child(3){
  margin-left: 220px;
}
.buttonStyle:nth-child(4){
  margin-left: 280px;
}
/*^^^^^^^^^^^^^^^^^^^^^ MENU BUTTONS ^^^^^^^^^^^^^^^^^^^^^^^*/
.stand {
  width: 100px;
  border: 10px solid black;
  height: 50px;
  background-color: black;
  align-self: center;
}
.stand2 {
  width: 300px;
  border: 10px solid black;
  height: 5px;
  background-color: black;
  align-self: center;
}
.desk {
  width: 1000px;
  height: 60px;
  background-color: #967f69;
  align-self: center;
  /*border: 1px solid black;*/
}
.legs {
  width: 1000px;
  height: 300px;
  /*border: 1px solid black;*/
  align-self: center;
  display: flex;
  justify-content: space-between;
}
.leg {
  width: 50px;
  height: 100%;
  background-color: #967f69;
}
.gameBox {
  transform: translate(50px, -108px);
}
.controller {
  transform: translate(-590px, 160px);
  position: absolute;
}
.cord {
  transform: translate(154px, -130px);
  position: absolute;
}
